[submodule "charts/brambling-note-be-java"]
	path = charts/brambling-note-be-java
	url = https://github.com/Brambling-Apps/brambling-note-helm-chart.git
[submodule "charts/brambling-note-be-java/"]
	url = https://github.com/Brambling-Apps/brambling-note-be-java-chart.git
